.main_table_container{
    text-align: center;
    display: grid;
    justify-content: space-around;
    background-color:#c9cbd3;
    padding: 20px;
}
.main_table_container h1{
    margin: 20px;
    font-family: 'Mulish', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.table_row_1{
    background-color:rgb(171, 179, 194);
    border: 1px solid white;
    border-radius: 5px;
}
.table_row_1 td{
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Zen Kurenaido', sans-serif;
    color: white
}
.table_row_2{
    background-color:rgb(78, 78, 104);
    border: 1px solid white;
}
.table_row_2 td{
    font-size: 18px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    font-family: 'Zen Kurenaido', sans-serif;
}
